{namespace JIRA.Templates.TBCO}
/**
 * Worklog Overview Page - Base Template
 */
{template .overviewPage}
    <div id="tbc-overview">
        /** <div id="kdp-calendar"></div> */
    </div>
{/template}
